.card {
    outline: 1px solid rgb(150, 150, 150);
    box-shadow: 2px 4px gray;
    width: 50%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
}

.card-back {
    /* font-size: 15px !important; */
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content:hover {
    opacity: .6;
}

.card-icons {
    font-size: 14px !important;
    float: left;
    width: 100%;
    justify-content: left;
    margin-left: 20px;
}

.card-icon {
    margin-left: 7px;
    cursor: pointer;
}

.card-icon:hover {
    color: blue;
}

.favorite-card-icon:hover, .favorite-icon-blank:hover {
    color: darkgoldenrod;
}

.favorite-card-icon {
    color: darkgoldenrod;
}

.hide-side {
    display: none;
    font-size: 24px;
}

.show-side {
    display: block;
    font-size: 24px;
}

.tags {
    margin-top: 100px;
    font-size: 14px;
}

.login-label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

#password, #signup-password {
    margin-top: 20px;
}

.login-input  {
    width: 400px;
    height: 25px;
}

#login-button, #signup-button, #create-card-button {
    margin-top: 20px;
    width: 200px;
    height: 25px;
    cursor: pointer;
}

#create-card-button {
    margin-top: 0px;
}

.login-wrapper {
    margin-left: 10px;
    margin-top: 20px;
}
  
.card-create-label {
    display: inline-block;
    width: 70px;
    text-align: right;
}

.card-create-input {
    width: 500px;
}

.card-create-textarea {
    height: 75px;
}

#create-card-label {
    display: inline-block;
    margin-top: 0px;
}

#hide-create-card, #show-create-card {
    margin-left: 7px;
    color: blue;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.visible-inline {
    display: inline-block;
}

#username-line, #logout {
    display: inline;
    margin-left: 10px;
}